@model IEnumerable<Nunana.ViewModels.TenantsListViewModel>
@{
    ViewBag.Title = "Tenants List";
}

<a class="btn btn-success" href="@Url.Action("Create")"><i class="fa fa-user">&nbsp;</i>Add New Tenant</a>

<h3 class="text-info">TENANTS LIST</h3> <br />

<table class="table table-striped table-responsive dataTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Emergency Contact</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.FullName)</td>
                <td>@Html.DisplayFor(model => item.PhoneNumber)</td>
                <td>@Html.DisplayFor(model => item.Email)</td>
                <td>@Html.DisplayFor(model => item.EmergencyContactNumber)</td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    @Scripts.Render("~/bundles/libs")
    <script>
        $(document).ready(function () {
            $('.dataTable').DataTable();
        });
    </script>
}
